In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
external_data = pd.read_csv('external_data.csv')

In [3]:
external_data_cleaned = external_data.dropna(axis=1, how='all')

In [4]:
columns_of_interest = ["date", "etat_sol", "dd", "ff", "t", "u", "vv", "n", "ht_neige", "rr3"]

external_data_sorted = external_data_cleaned[columns_of_interest]
external_data_sorted.loc[: ,"t"] = external_data_sorted["t"] - 273.15
external_data_sorted.head()

                  date  etat_sol   dd   ff    t   u    vv     n  ht_neige  rr3
0  2021-01-01 00:00:00       1.0  270  1.8 -0.4  96   990  10.0      0.00  0.0
1  2021-01-01 03:00:00       1.0  300  1.7 -1.9  98   210  25.0      0.00  0.0
2  2021-01-01 06:00:00       1.0  290  2.6 -1.2  98  3660  90.0      0.00  0.0
3  2021-01-01 09:00:00      13.0  280  1.7 -0.7  97  3500  50.0      0.01  0.2
4  2021-01-01 12:00:00      11.0   50  1.0  3.8  82  8000  90.0     -0.01  0.0

In [5]:
# Convertir la colonne 'date' en datetime en utilisant .loc
external_data_sorted["date"] = pd.to_datetime(external_data_cleaned['date'])

C:\Users\thiba\AppData\Local\Temp\ipykernel_5676\283883591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  external_data_sorted["date"] = pd.to_datetime(external_data_cleaned['date'])

In [6]:
def _encode_dates(X):
    X = X.copy()  # modify a copy of X
    # Encoder les informations de date à partir de la colonne 'date'
    X["year"] = X["date"].dt.year
    X["month"] = X["date"].dt.month
    X["day"] = X["date"].dt.day
    X["weekday"] = X["date"].dt.weekday
    X["hour"] = X["date"].dt.hour

    # Supprimer la colonne 'date' originale
    return X.drop(columns=["date"])

external_data_sorted = _encode_dates(external_data_sorted)
external_data_sorted.head()

,etat_sol,dd,ff,t,u,vv,n,ht_neige,rr3,year,month,day,weekday,hour
0,1.0,270,1.8,-0.4,96,990,10.0,0.00,0.0,2021,1,1,4,0
1,1.0,300,1.7,-1.9,98,210,25.0,0.00,0.0,2021,1,1,4,3
2,1.0,290,2.6,-1.2,98,3660,90.0,0.00,0.0,2021,1,1,4,6
3,13.0,280,1.7,-0.7,97,3500,50.0,0.01,0.2,2021,1,1,4,9
4,11.0,50,1.0,3.8,82,8000,90.0,-0.01,0.0,2021,1,1,4,12